body{
    background-image: url(../img/imgfundo.jpg);
}

#home{
    margin-left: 25%;
}
#topo{
    margin-left: 38%;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bold;
}

#topo ul li{
    display: inline;
    align-items: center;
    font-size: 175%;  
}

#logo{
    width: 32%;
}

/*Tira o estilo de lista e coloca ela ao lado direito da tela*/
#searchBar{
    list-style: none;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    position: relative;
    color: #000;
    text-decoration: none;  
  }
  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  #separacao{
      color: #000;
      font-size: 200%;
  }

  .background{
      background-color: rgb(0, 110, 255);
      margin-left: 15%;
      margin-right: 15%;
      padding-top: 2%;
      padding-bottom: 2%;
      border-radius: 30pt;
  }

  .txt{
      margin: 2% 70% 2% 1%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 130%;
  }

  .banner{
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    animation: slide 10s infinite;
    animation-direction: alternate;
    border-radius: 30pt;
  }

  @keyframes slide{
      0%, 65% {
          background-image: url(../img/slide1.png);
          background-repeat: no-repeat;
      }

      35%, 65% {
          background-image: url(../img/slide2.png);
          background-repeat: no-repeat;
      }

      70%, 100% {
        background-image: url(../img/slide3.png);
        background-repeat: no-repeat;
      }
  }


